@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Inter:wght@300;400&family=Narnoor&family=Playfair+Display:ital,wght@0,500;1,500&family=Quicksand&family=Shrikhand&family=Space+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

*::-webkit-scrollbar {width: 10px;background-color: transparent} 
*::-webkit-scrollbar-track {background-color: transparent} 
*::-webkit-scrollbar-thumb {border-radius: 1rem; background-color: #FF8422}
